* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	font-family: 'Open Sans', Helvetica, sans-serif;
	background-color: #fff;
}

.navbar-inner {
    background: #000000;
    border-radius: 0;
    border: 0;
    height: 20px;
    min-height: 20px;
    min-width: 10px;
    padding-bottom: 40px;
    padding-top: 20px;
}

.brand {
	 	color: #fff;
    font-family: Helvetica;
    font-size: 20px;
    line-height: 10px;
    text-transform: uppercase;
    font-weight: 300;
}

.brand:hover {
	text-decoration: none;
	color: #d1d1d1;
}

#landing { 
	margin-top: 20px;
}

h1,
h2,
h3 {
	line-height: 35px;
	letter-spacing: -1;
}

p {
	line-height: 25px;
	letter-spacing: -1;
}

h1 {
	font-size: 2em;
	margin-top: 100px;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 20px;
}

h3 {
	font-size: 1.2em;
}

.social-media {
	margin: 2% 0;
}

.social-media a {
	  padding: 0 20px 0 0;
    color: #000;
    font-size: 20px;
}

.fa-lastfm:hover {
	color: #dd1c23;
}

.fa-github:hover {
    	color: #495e75;
}

.fa-twitter:hover {
    	color:#00aced;
}

.fa-envelope-o:hover {
    	color:#1c72db;
}

.about {
	margin: 40px 0 50px 0;
}

.projects {
	padding: 0;
}

.project-title {
	text-align: center;
	text-transform: uppercase;
  color: #404040;
	margin-top: 10px;
	font-style: normal;
  font-weight: 300;
  letter-spacing: .06em;
}

.project-title:hover {
	  text-decoration: none;
}

.project-col {
	margin-top: 10px;
}

.project-card {
	max-width: 100%;
	display: block;
	margin: auto;
}

.project-card:hover {
	opacity: 0.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}

#blog {
	background: #efefef;
	margin-top: 70px;
	margin-bottom: 20px;
	padding: 50px;
}

#blog h2 {
	font-size: 1.6em;
	line-height: 35px;
	letter-spacing: -1;
	text-align: center;
}

#blog h2 a {
	color: black;
}

#blog h2 a:hover {
	font-weight: 700;
	text-decoration: none;
}

#blog p {
		text-align: center;
		padding: 10px;
}

.project-page-title {
	margin-top: 20px;
}

.content {
    padding-bottom: 250px;
}

.project-image {
	    max-width: 100%;
}

.project-github a{
	font-weight: 700;
	color: #000;
	text-decoration: none;
}

footer p {
	text-align: center;

}

footer a {
	  color: black;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
}

.blog-container {
   	    margin: 15%;	
}

.post-container {
	   margin: 5%;
}

